@use "abstracts/mixins" as mixins;
@use "abstracts/functions" as functions;
@use "tokens/semantics" as semantics;

.hero {
  display: grid;
  grid-template-columns: 1fr;

  &__image {
    inline-size: 100%;
    block-size: auto;
  }

  &__media {
    position: relative;
  }

  &__controls {
    position: absolute;

    inset-inline-end: 0;
    inset-block-end: 0;

    display: flex;
  }

  &__control {
    --box-padding-inline: #{functions.rem(23.8)};
    --box-padding-block: #{functions.rem(19.6)};

    background-color: var(--color-bg-button-hero-control);
    color: var(--white);

    &:hover {
      background-color: var(--color-bg-button-hero-control-hover);
    }

    &:focus-visible {
      outline: none;
      box-shadow: inset 0 0 0 functions.rem(2) var(--white);
    }

    &-icon {
      inline-size: #{functions.rem(8.4)};
      block-size: #{functions.rem(16.8)};
    }
  }

  &__content {
    --box-padding-inline: var(--space-400);
    --box-padding-block: var(--space-800);
    --stack-space: var(--space-400);

    @include mixins.mq("md") {
      --box-padding-inline: var(--space-800);
      --stack-space: var(--space-300);
    }

    @include mixins.mq("lg") {
      --box-padding-inline: var(--space-400);
      --stack-space: var(--space-200);

      transform: translateY(-10%);
    }

    @include mixins.mq("xl") {
      --box-padding-inline: #{functions.rem(100)};
      --stack-space: var(--space-400);

      transform: translateY(0%);
    }
  }

  &__text {
    --stack-space: var(--space-200);
  }

  &__main-title {
    color: var(--black);

    @include mixins.text-style(semantics.$text-hero);
  }

  &__description {
    color: var(--color-fc-hero-description);

    @include mixins.text-style(semantics.$text-body);
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    color: var(--black);

    @include mixins.text-style(semantics.$text-button);

    @include mixins.focus-ring;

    @include mixins.mq("md") {
      inline-size: max-content;
      justify-content: flex-start;
      gap: var(--space-300);
    }

    @include mixins.mq("lg") {
      gap: var(--space-400);
    }
  }

  @include mixins.mq("md") {
    &__image {
      inline-size: 100%;
    }

    &__control {
      --box-padding-inline: #{functions.rem(34)};
      --box-padding-block: #{functions.rem(28)};

      &-icon {
        inline-size: #{functions.rem(12)};
        block-size: #{functions.rem(24)};
      }
    }
  }

  @include mixins.mq("lg") {
    grid-template-columns: 58% 42%;

    &__media {
      grid-column: 1;
    }

    &__image {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
    }

    &__content {
      grid-column: 2;

      display: grid;
      align-content: center;
    }

    &__controls {
      position: absolute;
      z-index: 1;

      inset-block-end: 0;
      right: functions.rem(-160);
    }
  }
}

.site-header {
  position: absolute;

  inset-block-start: 0;
  inset-inline: 0;
  inline-size: 100%;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  &__button {
    grid-column: 1;
    justify-self: start;
    color: var(--white);

    @include mixins.focus-ring;
  }

  &__logo {
    grid-column: 2;
    justify-self: center;

    @include mixins.focus-ring(var(--white));
  }

  @include mixins.mq("md") {
    --box-padding-inline: var(--space-800);
  }

  @include mixins.mq("lg") {
    grid-template-columns: auto 1fr;
    column-gap: var(--space-700);

    &__button {
      display: none;
    }

    &__logo {
      grid-column: 1;
      justify-self: start;
    }
  }
}
